<h1> <%= @game.players[0].name %> vs. <%= @game.players[1].name %> </h1>
<h2><%= @game.current_player.name %>'s turn</h2>
<div>
  <%= @game.current_player.name %>: <%= @game.current_player.hit_points %>HP
</div>
<div>
  <%= @game.opponent.name %>: <%= @game.opponent.hit_points %>HP
</div>
<a href="/attack">Attack</a>
